- return unless Key.enforce_ssh_key_expiration_feature_available?

- form = local_assigns.fetch(:form)

.form-group
  = form.gitlab_ui_checkbox_component :enforce_ssh_key_expiration, _('Enforce SSH key expiration')
